
<f:link.page pageUid="1">
    <f:image
        class="image-embed-item img-fluid"
        src="typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png"
        width="300"
        loading="lazy" 
        alt="Agentur - Logo" 
        additionalAttributes="{srcset: '{f:uri.image(src: typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png, maxWidth: 768)} 768w,
                                        {f:uri.image(src: typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png, maxWidth: 990)} 990w,
                                        {f:uri.image(src: typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png, maxWidth: 1200)} 1200w,
                                        {f:uri.image(src: typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png, maxWidth: 1440)} 1440w,
                                        {f:uri.image(src: typo3conf/ext/provider/Resources/Public/Images/logo-typo3-lanius.png, maxWidth: 1900)} 1900w',
                            sizes: '(min-width: 1200px) 50vw, 100vw'}"

    />
</f:link.page>